.question {
    font-size: 1.25rem;
    font-weight: 600;
}
textarea{
    min-height: 3rem;
    width: 100%;
    resize: none;
    word-wrap: break-word;
    border-radius:10px;
    border: 1px solid #eee;
    padding: 8px 0 8px 10px;
    font-size: 1rem;
    font-family: Roboto;
}
textarea:focus {
    border: 1px solid #aaa;
    outline:none;
}
textarea:hover {
    border: 1px solid #aaa;
  }
.line{
    border: none;
    color:  rgba(221, 221, 221, 1);
    background-color:  rgba(221, 221, 221, 1);
    height: 1px;
    margin: 1rem 0 2rem 0;
}
