.input{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-color: #eee;

}
.input:focus{
    border-color: #aaa;

}
.plus {
    cursor: pointer;
    float: right;
    margin-right: 1rem;
    background: #aaa;
    height: 15px; 
    width: 3px;
    position: relative; 
    left: 6px;
    }
.plus:after {
    content: "";
    height: 3px; 
    width: 15px;
    background: #aaa;
    position: absolute; 
    left: -6px; 
    top: 6px;
}
.rotate{
    float: left !important;
    transform: rotate(45deg);
}